@import "/src/styles/variables";
@import "/src/styles/mixins";

.overlay {
  position: fixed;
  inset: 0;
  z-index: 999;

  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;

  background-color: hsla(0, 0%, 0%, .75);
}

.addToPlaylist {
  display: flex;
  flex-flow: column;

  width: 16em;

  overflow: hidden;
  border-radius: .25em;
  border: 1px solid $border;
  background-color: $background;

  font-weight: 500;

  .titleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .875em 1.5em;

    border-bottom: 1px solid $border;
    font-size: 1rem;
    color: $faded;

    p {
      margin: 0;
    }
  }

  .playlists {
    display: flex;
    flex-flow: column;

    &:not(:empty) {
      padding: .75rem 0;
    }
  }

  .newPlaylistForm {}

  .btns {
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: .875rem;

    &>* {
      flex: 1 auto;

      &:not(:last-child) {
        border-right: 2px solid black;
      }
    }
  }
}