@import "/src/styles/variables";
@import "/src/styles/mixins";

#notifier {
  position: fixed;
  inset: 0;
  z-index: 999;
  pointer-events: none;

  display: flex;
  flex-flow: column-reverse;
  align-items: flex-start;
  gap: .5em;

  margin: .5em;

  .notice {
    padding: 1em 1.5em;

    font-size: .875rem;
    word-break: break-all;

    background-color: $emp;
    animation: jumpIn .3s ease-out forwards;
  }

  @keyframes jumpIn {
    from {
      z-index: -1;
      transform: translateY(100%);
    }

    to {
      z-index: 0;
      transform: translateY(0);
    }
  }
}