@import "/src/styles/variables";

#searchbar {
  position: relative;

  width: 100%;
  max-width: 32em;

  margin: 3em auto;

  input {
    width: 100%;
    padding: 0.75em 1.5em;

    font-size: 1rem;
    font-weight: 500;

    outline: none;
    border-radius: 0.25em;
    border: 1px solid $border;
    background-color: $emp;
  }

  #clearDiv {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 1em;

    display: flex;
    align-items: center;
  }
}