@import "/src/styles/variables";
@import "/src/styles/mixins";

.btn {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;

  color: $alternative;

  &:hover,
  &:focus {
    color: white;
  }

  &:active {
    color: $clicked;
  }

  &.bigWhite {
    font-family: inherit;
    font-size: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75em;

    padding: .5em .2em;

    background-color: white;
    color: black;
  }
}