*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;

  overflow-x: hidden;

  font-family: 'Montserrat';
  color: white;

  background-color: hsl(0, 0%, 1%);
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

$emp: hsl(0, 0%, 13%);
$faded: hsl(0, 0%, 67%);
$alternative: hsl(0, 0%, 56%);
$clicked: hsl(0, 0%, 87%);
$border: hsl(0, 0%, 20%);

// button {
//   display: flex;
//   align-items: center;

//   padding: 0.5em 1em;

//   font-weight: 500;
//   line-height: 1rem;
//   text-transform: uppercase;
//   white-space: nowrap;

//   background-color: transparent;
//   border-radius: 0.125em;
//   border: 1px solid white;

//   .material-icons {
//     font-size: 1.5rem;

//     &+* {
//       margin-left: 0.5em;
//     }
//   }
// }

.btn {
  cursor: pointer;
  user-select: none;

  color: $alternative;

  &:hover,
  &:focus {
    color: white;
  }

  &:active {
    color: $clicked;
  }
}

#root {
  padding: 0 2em;
}

#searchBar {
  position: relative;

  width: 100%;
  max-width: 32em;

  margin: 1em auto;

  input {
    width: 100%;
    padding: 0.75em 1.5em;

    font-size: 1rem;
    font-weight: 500;

    outline: none;
    border-radius: 0.25em;
    border: 1px solid $border;
    background-color: $emp;
  }

  #clearDiv {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 1em;

    display: flex;
    align-items: center;
  }
}

#searchResults {
  width: 100%;

  display: flex;
  flex-flow: column;
}

.track {
  display: flex;
  align-items: center;

  padding: 1.25em 0;

  &:not(:last-child) {
    border-bottom: 2px solid $border;
  }

  img {
    margin-right: 1em;
  }

  .info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    min-width: 0;
  }

  p {
    margin: 0;
    line-height: 1.2em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .artist {
    color: $faded;
    font-size: 0.75rem;
  }

  .control {
    margin: auto 0;
    margin-left: auto;
    padding: 0 0.75em;
  }

  .material-icons {
    display: block;
    margin: auto 0;

    font-size: 24px;
  }
}