@import-normalize;
@import "/src/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
button,
input,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

#root {
  min-height: 100vh;
  min-width: 100%;

  display: flex;
  flex-flow: column;

  padding: 0 2em;

  color: white;
  background-color: hsl(0, 0%, 1%);
}